.confirm_selection {
    -webkit-animation: glow .5s infinite alternate;
}

@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 10px red;
    }
}

.extra-padding {
    padding-left: 4.5%;
}

.extra-height {
    height: 15%;
}

.vr {
    margin-left: 1rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar { 
    display: none; 
}

.custom-span{
    display: inline-block;
}